*{
            margin: 0;
            padding: 0;
        }
        body{
            font-family: Roboto, sans-serif;;
            background-color: black;
        }
        .screen_box{
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width:360px;
            height: auto;
            background-color:#1c1c1c;
            box-shadow: 0px 18px 36px -18px rgba(0, 0, 0, 0.3), 0px 30px 59.9999px -12px rgba(50, 50, 93, 0.25);
            border-radius: 9px;
        }
        .top_navbar{
            background-color: #1c1c1c;
            color: rgb(255, 255, 255);
            padding-top:    3rem;
            border-radius: 9px;
            font-size: 15px;
            text-align: center;
        }
        .content_text_box{
            height: 330px;
            position: relative;
            margin: 0px 2rem;
        }
        .content_data{
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
        .btn_group{
            display: flex;
            flex-direction: column;
            gap: 27px;
        }
        .btn_group button{
            outline: none;
            border-style: solid;
            padding: 1rem;
            font-size: 15px;
            font-weight:bold;
            letter-spacing: 1px;
            color: rgb(175, 175, 175);
            background-color: #1f1f1f;
            
            border-radius: 9px;
            border-width: 1px;
            border-color: rgba(240, 248, 255, 0.18);
            cursor: pointer;
        }
        .check_box{
            display: flex;
            align-items: center;
            font-size: 15px;
            font-weight: bold;
        }
        .check_box input{
            width: 27px;
            height: 18px;
            margin-right: 9px;
            cursor: pointer;
            
        }
        .check_box label{
            cursor: pointer;
            color: #eee;
        }
        @media (max-width: 450px) {
            .screen_box{
                width: 100%;
                height: 100%;
            }
        }